<section id="static_background"></section>
<header id="header">
    <div class="mobile-nav-panel">
        <i class="icon-reorder icon-large">&plus;</i>
    </div>
    <h1 class="blog-title">
        <a href="<%- config.root %>"><%= config.title %></a>
    </h1>
    <div id="search-form-wrap">
        <%- search_form({button: '&#xF002;'}) %>
    </div>
</header>
