<section id="static_background">
    <canvas id="galaxy1" class="galaxy"></canvas>
    <canvas id="galaxy2" class="galaxy"></canvas>
    <canvas id="galaxy3" class="galaxy"></canvas>
</section>
<header id="header">
    <h1 class="blog-title">
        <a href="<%- config.root %>"><%= config.title %></a>
    </h1>
    <div id="search-form-wrap">
        <%- search_form({button: '&#xF002;'}) %>
    </div>
</header>
