// tablet
@media (min-width:768px) and (max-width:1040px)
  #container
    width: 700px

  #main
    padding-left: 0

  .entry-meta-header
    position: static
    margin-bottom: 1em
    width: auto
    .meta-elements
      display: inline
      margin-right: 1em
    .commentscount
      display: none

  .post
    font-size: 100%
    .entry-title
      font-size: 180%
    .entry-content pre
      white-space: pre-wrap
      word-wrap: break-word
      word-break: break-all
      overflow-x: hidden

// Mobile
@media (max-width:767px)
  #container
    width: 93.75%
    word-wrap: break-word

  .mobile-nav-panel
    display: block
    float: right;

  #top_nav
    #mobile_menu_btn
      float: right
      margin: 0.6em
      cursor: pointer
      font-family: FontAwesome
      color: color-default
      &:hover
        color: color-link
      &:before
        content: "\f0c9"

  #menu_options
    height: 0
    width: 100%
    overflow: hidden
    margin: 0
    position: relative
    bottom: 0
    left: 0
    background-color: mobile-nav-bgcolor
    &.active
      height: auto
      overflow: visible
      transition: all .2s ease-out
      z-index: 2
    ul
      display: block
      li
        display: block
        width: 100%
        margin: 0
        a
          display: block
          border: none
          padding: 1em .5em
          color: #fff
          border-bottom: 1px solid #677174
          text-align: left

  #search-form-wrap
    display: none

  .blog-title
    float: none

  #main
    padding-left: 0
    margin-bottom: 3em

  .entry-meta-header
    position: static
    margin-bottom: 1em
    width: auto
    .meta-elements
      display: inline
      margin-right: 1em
    .commentscount
      display: none

  .post
    font-size: 90%
    .entry-title
      font-size: 180%
    .entry-content
      line-height: 1.8
      blockquote
        margin: 1em 0
      table th, table td
        word-break: break-all
      iframe
        width: 100% !important

  .pagenation span,.pagenation a
    padding: 5px
    margin: 0

  #footer
    margin: 0 0 3em 0
    .footer-blog-title
      float: none
      margin-bottom: 1em